.modal-view {
  background: #fff;
  border-radius: 20px;
  bottom: 0;
  box-shadow: 0 0 9999px 9999px rgba(0, 0, 0, 0.85);
  display: none;
  height: 240px;
  left: 0;
  margin: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
  z-index: 9998;
}
